<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./../assets/CSS/functions.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grepolis-Tools bolsonaro - Made by Nícolas</title>
</head>

<body>
    <section class="lista-ativos">
        <button class="ferramenta-botao">Ferramentas farming</button>
        <button class="ferramenta-botao">Ferramentas construção</button>
        <button class="ferramenta-botao">Ferramentas batalha</button>
    </section>
</body>

</html>